section {
    height: 90vh;
    background-color: #89A9B2;
    display: flex;
    align-items: center;
    margin: 5vh 0 0 20vw;
    box-shadow: 0 192px 136px rgba(26, 43, 59, 0.23),
        0 70px 50px rgba(26, 43, 59, 0.16),
        0 34px 24px rgba(26, 43, 59, 0.13),
        0 17px 12px rgba(26, 43, 59, 0.1),
        0 7px 5px rgba(26, 43, 59, 0.07);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
}

#left-side-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    animation: appear 1s ease-in-out 2.5s 1 forwards;
}

#question {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #13687f;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Bebas Neue;
    color: #fff;
    text-shadow: -1px -1px 0 #000,
        3px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
    box-shadow: 0 192px 136px rgba(26, 43, 59, 0.23),
        0 70px 50px rgba(26, 43, 59, 0.16),
        0 34px 24px rgba(26, 43, 59, 0.13),
        0 17px 12px rgba(26, 43, 59, 0.1),
        0 7px 5px rgba(26, 43, 59, 0.07);
}

#question>p:last-of-type {
    font-family: 'Roboto-light';
    text-shadow: none;
}

#reachability {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 192px 136px rgba(26, 43, 59, 0.23),
        0 70px 50px rgba(26, 43, 59, 0.16),
        0 34px 24px rgba(26, 43, 59, 0.13),
        0 17px 12px rgba(26, 43, 59, 0.1),
        0 7px 5px rgba(26, 43, 59, 0.07);
}

#reachability>img {
    width: 400px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#reachability p {
    font-family: 'Roboto-Light';
    font-size: 1.5rem;
}

h4 {
    color: #13687f;
    margin: 1rem 0;
    font-family: 'Roboto-LightItalic';
}

legend {
    font-size: 2rem;
    font-family: 'Bebas Neue';
}

#fieldset-personal-data {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: none;
    border-top: 2px solid black;
    font-family: 'Roboto-Light';
    font-size: 1.3rem;
}

#fieldset-personal-data>div:first-of-type>a {
    text-decoration: none;
    font-weight: 900;
    color: black;
}

input,
textarea {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}

#privacy-consent {
    margin: 1rem 0;
}

#button-wrapper {
    display: flex;
    justify-content: center;
}

#button>div {
    margin: 0 2rem;
}

/* --------------special media queries---------------- */

@media screen and (max-width: 950px) {
    section {
        margin: 5vh 0 0 5vw;
    }
    #reachability>img {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    section {
        margin: 5vh 0 0 5vw;
        flex-direction: column;
        height: fit-content;
    }
    #reachability {
        margin: 2rem 0;
    }
}