/* -----------------------font-imports--------------------------- */

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Bright Tropical';
    src: url(/fonts/Bright-Tropical/Bright-Tropical.otf);
}

/* --------------small reset & basic document properties---------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* ------------------header & menu-properties----------------------- */

#main-header {
    height: 50px;
    margin-top: 2rem;
    background-color: #13687f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 192px 136px rgba(26, 43, 59, 0.23),
        0 70px 50px rgba(26, 43, 59, 0.16),
        0 34px 24px rgba(26, 43, 59, 0.13),
        0 17px 12px rgba(26, 43, 59, 0.1),
        0 7px 5px rgba(26, 43, 59, 0.07);
    opacity: 0;
    animation: appear 0.5s ease-in-out 1 forwards;
    position: sticky;
    top: 2rem;
    z-index: 4;
}

#main-header>nav {
    margin: 0 2rem;
}



#home-btn {
    margin-left: 2rem;
}

#home-btn>a {
    font-size: max(6vw, 4rem);
    font-family: 'Bright Tropical';
    text-decoration: none;
    color: #fff;
    text-shadow: -1px -1px 0 #000,
        3px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
    font-style: italic;
    /* letter-spacing: -1.7rem; */
}

#burgermenu>ul {
    list-style: none;
    display: flex;
}

.top-menu {
    margin: 0 2rem;
    transition: all 0.3s;
    color: #fff;
}

.top-menu-active {
    transform: scale(1.3) rotateZ(-3deg);
    color: lightgray;
}

.top-menu>a {
    font-size: max(1vw, 3rem);
    font-family: Bebas Neue;
    text-decoration: none;
    color: inherit;
    text-shadow: -1px -1px 0 #000,
        3px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
}

.top-menu:hover {
    transform: scale(1.3) rotateZ(-3deg);
    transition: all 0.3s;
}



.menu-bar {
    width: 30px;
    height: 6px;
    background-color: #fff;
    border: 1px solid black;
    display: none;
    box-shadow: -1px -1px 0 #000,
        3px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
}

.menu-bar:not(:last-of-type) {
    margin-bottom: 6px;
}

/* -------------------heading-settings----------------- */

#heading {
    width: fit-content;
    margin: 4rem auto;
}

#heading>h2 {
    font-family: Roboto-Light;
    font-size: 3rem;
    font-style: italic;
}

#heading>h2:nth-child(1) {
    transform: translateX(200%);
    animation: slide-rtl 1s ease-in-out 0.5s 1 forwards;
}

#heading>h2:nth-child(2) {
    padding-left: 8rem;
    animation: slide-ltr 1s ease-in-out 0.5s 1 forwards;
    transform: translateX(-200%);
}

h3 {
    font-size: 4rem;
    font-family: Bebas Neue;
    margin: 1rem 0;
}

/* -----------------------button styles------------------------- */

#button {
    width: fit-content;
    padding: 1rem;
    background-color: #fff;
    font-size: 1.5rem;
    font-family: Roboto-Light;
    border-radius: 0.5rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
    transition: all 0.2s;
}

#button-arrow {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button:hover {
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s;
}

/* ----------------animated classes & keyframes---------------- */

.sep-bar {
    height: 90%;
    width: 0.5rem;
    background-color: #000;
    margin: 0 1rem;
}

.bar-animated {
    animation: reveal 0.5s ease-in 2s 1 forwards;
    clip-path: inset(0 0 100% 0);
}

.slide {
    transform: translateX(100%);
    animation: slide-rtl 2s ease-in-out .5s 1 forwards;
}


@keyframes slide-rtl {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-ltr {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reveal {
    0% {
        clip-path: inset(0 0 100% 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wobble {
    0% {
        transform: rotate3d(0, 1, 0, -20deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, -22deg) translateY(10px);
    }

    100% {
        transform: rotate3d(0, 1, 0, -20deg);
    }
}

/* -----------------footer-style------------------- */
footer {
    width: 100%;
    height: 20vh;
    margin-top: 5vh;
    background-color: #13687f;
}

footer>nav {
    width: 100%;
    height: 100%;
    clip-path: polygon(3% 0, 97% 0, 90% 90%, 10% 90%);
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Roboto-Black';
}

footer>nav ul {
    list-style: none;
    display: flex;
    margin: 1rem 0;
}

.footer-menu>a {
    color: #fff;
    text-decoration: none;
}

.footer-menu:not(:last-of-type)::after {
    content: "::";
    margin: 0 2rem;
    color: #fff;
}

footer>nav p {
    color: gray;
    font-size: 1rem;
    margin: 1rem 0;
}

.footer-menu-active>a {
    border-bottom: 1px solid #fff;
}

/* -----------------------media querries--------------------- */

@media screen and (max-width: 950px) {
    #burgermenu>ul {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    #burgermenu:hover>ul {
        display: flex;
        flex-direction: column;
        background-color: rgba(245, 245, 245, 0.9);
        position: relative;
        top: 150px;
        left: 2rem;
    }

    #burgermenu:hover>ul>li {
        margin: 1rem 0;
        padding: 0 2rem;
    }

    #heading>h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    #heading>h2 {
        font-size: 2rem;
    }
    footer>nav {
        font-size: 0.8rem;
    }
    .footer-menu:not(:last-of-type)::after {
        margin: 0 0.3rem;
    }
    footer>nav p {
        font-size: 0.5rem;
    }
    #heading>h2:nth-child(2) {
        padding-left: 0;
    }
}