
/* ----------------------service-sections allgemein---------------------- */

.service-section {
    height: 90vh;
    width: 80vw;
    background-color: #89A9B2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 192px 136px rgba(26,43,59,0.23),
                0 70px 50px rgba(26,43,59,0.16),
                0 34px 24px rgba(26,43,59,0.13),
                0 17px 12px rgba(26,43,59,0.1),
                0 7px 5px rgba(26,43,59,0.07);
}

.service-right {
    margin: 0 0 20vh 20vw;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.service-left {
    margin: 0 20vw 20vh 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    flex-direction: row-reverse;
}

h3 {
    font-size: 4rem;
    font-family: Bebas Neue;
}

.service-text {
    width: 30%;
    font-size: max(1.2vw, 1.5rem);
    font-family: Roboto-Light;
    font-weight: 100;
}

.service-img {
    width: 50%;
    height: 80%;
}

/* -----------------------service-sections spezifisch------------------ */

.responsiveness-img {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 3rem;
}

.responsiveness-img>div {
    background-color: #13687f;
    border-radius: 1rem;
    box-shadow: 0 192px 136px rgba(26,43,59,0.23),
                0 70px 50px rgba(26,43,59,0.16),
                0 34px 24px rgba(26,43,59,0.13),
                0 17px 12px rgba(26,43,59,0.1),
                0 7px 5px rgba(26,43,59,0.07);
}

.responsiveness-img>div:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 4;
    background-image: url(../img/smartphone-tablet-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.responsiveness-img>div:nth-child(2) {
    grid-row: 2 / 4;
    grid-column: 1;
    background-image: url(../img/os.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.responsiveness-img>div:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-image: url(../img/macintosh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}


.individuality-img {
    position: relative;
}

.individuality-img>div {
    background-color: #13687f;
    border: 1px solid black;
    border-radius: 1rem;
    position: absolute;
    box-shadow: 0 192px 136px rgba(26,43,59,0.23),
    0 70px 50px rgba(26,43,59,0.16),
    0 34px 24px rgba(26,43,59,0.13),
    0 17px 12px rgba(26,43,59,0.1),
    0 7px 5px rgba(26,43,59,0.07);
}

.individuality-img>div:nth-child(1) {
    width: 20vw;
    height: 20vw;
    right: 100px;
    z-index: 0;
}

.individuality-img>div:nth-child(2) {
    width: 20vw;
    height: 20vw;
    top: 260px;
    z-index: 1;
}

.individuality-img>div:nth-child(3) {
    width: 20vw;
    height: 20vw;
    top: 300px;
    right: 60px;
    z-index: 2;
}


.recognition-img {
    border: 1px solid black;
}

.optimization-img {
    border: 1px solid black;
}

/* ----------------special media querries------------- */

@media screen and (max-width: 768px) {
    .service-right {
        margin: 0 0 20vh 5vw;
    }
    
    .service-left {
        margin: 0 5vw 20vh 0;
    }
    .sep-bar {
        display: none;
    }
    .service-section {
        height: 90vh;
        width: 95vw;
        background-color: #89A9B2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .service-section>* {
        width: 90%;
        height: fit-content;
    }
    .service-img {
        transform: scale(0.6);
    }
    .service-text {
        font-size: 2rem;
    }
}